* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #4d4d4d;
}
::after{
    box-sizing: border-box;
}
::before{
    box-sizing: border-box;
}

/* Header Styles */

.container {
    background-color: rgb(2, 45, 98);
}


.navbar li {
    display: inline-block;
    position: relative;
}

.container img {
    width: 70px;
}

.Logo {
    display: inline-block;
    margin-left: 3%;
    margin-right: 12%;
    margin-top: 10px;
    margin-bottom: 8px;
}

.navlinks {
    display: inline-block;

}

.navlinks li {
    display: inline-block;

}

.navbar {
    padding: 10px;
    float: right;
    margin-bottom: 9px;
    margin-left: 8px;
}

.navbar a {
    text-decoration: none;
    color: rgb(171, 171, 238);
    font-size: 0.95rem;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    transition: 0.5ss;
}

.navbar a:hover {
    color: rgb(230, 237, 245);
}

.navbar li {
    padding: 8px;

}

.navlinks li:first-child a {
    color: #fff;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-10%);
    left: 100%;
    margin-left: 5px;
}

/* BODY STYLES */

.body{
    background-color: #fff;
}
.emptydiv{
    height: 500px;
}


/* SECTION TWO STYLES */

.colgroup{
    margin: 0 40px 0;
}
.col-container{
    display: flex;
    padding: 0 12px;
    
}
.col-1{
    flex: 2;
    margin-right: 20px;
}
.col-1 h3{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 8px;
    color: #4d4d4d;
}

.col-top img{
    width: 30vw;
}
.cola a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 17px;
    transition: 0.4s;
   
}
.cola h3{
    margin-top: 10px;
    margin-bottom: 30px;
}
.cola a:hover{
    color: rgb(78, 78, 163);
}
.stories{
    display: flex;
    
}
.col-left{
    margin-left: 22px;
}
.nid-col{
    display: flex;
}
.nid-col a h3:hover{
    color: rgb(78, 78, 163);
}
.nid-col a h3{
    transition: 0.4s;
}

.summary{
    height: 100px;
}
.summary2{
    margin-top: 15px;
}

.summary::after{
    content: "";
    display: block;
    opacity: 0.1;
    border-top: 1px solid rgb(77, 77, 77);
    margin-top: -95px;
}

.nid-col h3{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 10px;
    margin-left: 8px;
    margin-top: -12px;
    margin-bottom: 100px;

}
.nid-col img{
    width: 12vw;
    border-radius: 5px;
}
.nid-col2{
    display: flex;
    margin-top: -5px;
    padding: 5px;
    box-sizing: border-box;
}
.nid-col2 a h3{
    transition: 0.5s;
}
.nid-col2 a h3:hover{
    color: rgb(78, 78, 163);
}
.summary2::after{
    content: "";
    display: block;
    opacity: 0.1;
    border-top: 1px solid rgb(77, 77, 77);
    margin-top: -95px;
}

.nid-col2 h3{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 10px;
    margin-left: 8px;
    margin-top: -12px;
    margin-bottom: 100px;

}
.nid-col2 img{
    width: 12vw;
    border-radius: 5px;
}
.summary-content{
    padding: 10px;
    margin-top: 10px;
}
.summary-content h3{
    font-size: 19px;
    font-weight: 300;
}
.summary-content::after{
    content: "";
    display: block;
    opacity: 0.1;
    border-top: 1px solid rgb(77, 77, 77);
    margin-top: 20px;
}
.summary-content a h3{
    transition: 0.5s;
}
.summary-content a h3:hover{
    color: rgb(78, 78, 163);
}

.col-2{
    flex: 1;
}

.col-2 h3{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 8px;
    color: #4d4d4d;
}
.line{
    color: rgb(77, 77, 77);
    background-color: rgb(77, 77, 77);
    opacity: 0.4;
    margin: 1rem 0px;
}
hr:not([size]) {
    height: 1px;
}
.left-column::before{
    content: "";
    display: block;
    position: absolute;
    top: 650px;
    height: 580px;
    right: 470px;
    border-right: 1px solid rgb(239, 239, 239);
}
.summry-col{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.summry-col-story h3{
    font-size: 18px;
    font-weight: lighter;
   
}
.summry-col-story a h3{
    transition: 0.5s;
}
.summry-col-story a h3:hover{
    color:rgb(78, 78, 163);
}
.summry-col-story span{
    font-family: Helvetica, sans-serif;
    font-size: 0.95rem;
    color: gray;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 0.4rem;
}
.summry-img{
    box-sizing: border-box;
    cursor: pointer;
}
.summry-img img{
    width: 180px;
    border-radius: 3px;

}
.time::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 0px;
    background-color: rgb(182, 31, 36);
}
.summry::after{
    content: "";
    display: block;
    opacity: 0.1;
    border-top: 1px solid rgb(77, 77, 77);
    margin: 0.7rem 0.9rem;
}
.left-column{
    position: relative;
    max-height: 586px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.left-column::-webkit-scrollbar{
    width: 2px;
    
}
.left-column::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: rgb(228, 225, 225);
}
.left-column::-webkit-scrollbar-thumb{
    background-color: rgb(2, 26, 87);
    height: 70px;
    
}

/* SECTION THREE STYLES */

.column{
    margin-top: 30vh;
}
.txt{
    background-color: rgb(7, 62, 129);
    display: inline-block;
    margin: 0 40px 0;
}
.txt h2{
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(217, 237, 252);
    padding: 10px 60px 20px 20px;
}
.text{
    float: right;
    margin: 0 40px 0;
    
}
.text h2{
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(12, 59, 117);
    padding: 10px 60px 0px 20px;
}

.forum{
    background-color: rgb(7, 62, 129);
}

.newslatter h4{
   color: #fff; 
}
.collapse{
    margin: 0px 40px 0px;
}
.newslatter img{
    margin-top: 40px;
    margin-left: 10px;
}
.newslatter{
    display: inline-block;
    margin: 0 30px 0 30px;
    cursor: pointer;
    padding-bottom: 40px;
}
.trendy{
    position: sticky;
    top: 0;
    background-color: #fff;
}

/* FOOTER STYLES */

.footer_section{
    background-color:  rgb(2, 45, 98);
}
.footer-top{
    margin: 0 30px 0;
}
.logos{
    margin-top: 40px;
}
.logos img{
    width: 40px;
    margin-top: 30px;
    margin-left: 25px;
}
.social-links{
    float: right;
    margin-right: 30px;
    padding-left: 20px;
    margin-top: -30px;
}

.nav li{
    display: inline-block;
    margin-right: 10px

}
.nav li a{
    text-decoration: none;
    color: rgb(235, 235, 250);
}
.footer_sec{
    margin: 20px 40px 0;
}
.footer_sec li{
    list-style: none;
}
.foot-col{
    display: inline-block;
    line-height: 40px;
    margin-right: 120px;
    margin-left: 0px;
}
.footer_sec li a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
.write-up{
    color: rgb(68, 68, 241);
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}
.footer_copyright{
    margin-top: 50px;
}
.footer_copyright p{
    color: rgb(121, 121, 216) ;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 40px;
    padding-top: 40px;
}